.planets {
    border-radius: 30px;
}

.planets :hover {
    background: rgba(0, 0, 0, 0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
    border-radius: 30px;
}

.planets :hover ul {
    display: block;
}

.planets :hover button {
    display: block;
}

.sibs {
    pointer-events: none;
}

.show {
    display: none;
}